@import 'tailwindcss/base';
@import 'tailwindcss/components';

/* Your own custom component styles */

@layer base {
  h1 {
    @apply text-4xl;
  }
  h2 {
    @apply text-3xl;
  }
  h3 {
    @apply text-2xl;
  }
  a {
    @apply text-stone-800;
  }
  button {
    @apply px-4 py-2 rounded hover:opacity-60 relative z-10;
    z-index: 10;
  }
  .mansory {
    @apply py-2 max-w-screen-2xl mx-auto grid grid-cols-4 gap-6;
    grid-template-rows: repeat(3,280px);
  }
  .box {
    @apply shadow-inner overflow-hidden rounded-xl bg-white;
  }
  .box-2h {
    @apply row-span-2;
  }
  .box-2w {
    @apply col-span-2;
  }

  @media (max-width: 960px) {
    .mansory {
        grid-template-rows: repeat(6,280px);
        grid-template-columns: auto;
    }
  }
}

@import 'tailwindcss/utilities';